:root{
    --color-red-ligth: #f30404cc;
    --color-background-body: #121525;
    --color-background-card: #f3f4f72c;
    --color-background-header: rgba(0, 0, 0, 0.256);
    --color-background-modal-overlay: rgba(0, 0, 0, 0.692);
    --color-white: white;
    --color-red: #f30404;
    --color-background-alternativo: #998989;

}

/*RESET*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

body{
    background: #111114;
    font-family: 'Roboto', sans-serif;
    
   
}

body .conteiner{
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "header header"
                        "main main"
                        "footer footer";

}

main{
    color: white;
}
/*=============================================================================
MENU
===============================================================================*/

header{
    display: grid;
    grid-area: header;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, .9);
    padding: 30px;
    border-bottom: 2px solid #998989;
    z-index: 1;

}

.header .menu a,
.header-conteiner .btn-voltar{
    cursor: pointer;
    font-size: 20px;
    margin: 0rem 1rem;
    color: rgba(255,255,255, 0.5);
}
.header .menu a:hover,
.header-conteiner .btn-voltar:hover{
    color: rgb(255, 255, 255); 
    transition: color 800ms;
}
.menu a[href^="https"]::before {
    content: "🔗 ";
  }
.menu a[href^="/content.html"]::before {
    content: "🔗 ";
  }
  
.menu a[href^="mailto"]::before {
    content: "📧 ";
}

.menu a[href^="tel"]::before {
    content: "📞 ";
}

.itens-menu a[href^="https"]::before {
    content: "🔗 ";
  }
.itens-menu a[href^="/content.html"]::before {
    content: "🔗 ";
  }
  
.itens-menu a[href^="mailto"]::before {
    content: "📧 ";
}

.itens-menu a[href^="tel"]::before {
    content: "📞 ";
}
/* .btn-close{display: none} */
.conteiner .header .logo{
    display: none;
}


/* .btn-close{display: none} */
.conteiner .header .logo{
    display: none;
}

/*=============================================================================
CORPO
===============================================================================*/
.corpo{
    display: grid;
    grid-area: main;
    background: url(../image/trofeu.png) no-repeat;
    background-position: 50vw top;
    background-size: 800px;
}
.conteiner .corpo{
    overflow: auto;/*Permite o scroll do corpo caso os elementos excedam o espaço*/
    display: flex;
    justify-content: space-between;
    
}

main .logo-corpo{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 8%;
    font-size: 2em;
    color: white;
}

.corpo .logo-corpo img{
    border-radius: 50%;
}

.corpo .mensagem{
    width: 40%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    color: white;
}
.corpo .corpo-mensagem p{
   margin: 30px 20px 30px;
   text-align: justify;
   font-size: 14px;
}

.corpo .corpo-mensagem li{
    margin-left: 20px;
    list-style: none;
   font-size: 14px;

}
/*=============================================================================
RODAPE
===============================================================================*/

footer{
    display: grid;
    grid-area: footer;
    background: rgba(0, 0, 0, .9);
    border-top: 2px solid #998989;
}
.rodape{display: flex; align-items: center; justify-content: center;}
.rodape a{font-size: 1.5em; color: rgba(255,255,255, 0.5); margin-right: 2%;}
.rodape a:hover{ color: rgb(255, 255, 255); transition: color 800ms;}
/* ELIMINANDO A MARGEM DIREITA DO ULTIMO ELEMENTO DOS ICONES (NESSE O ULTIMO ELEMENTO FILHO)*/
.rodape a:last-child{margin-right: 0;}


/* ===========================================================
PAGE CONTENT
============================================================*/

/* === HEADER === */
.btn-voltar{
    margin: 0 !important;
}
.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-conteiner .herder-logo{
    color: rgba(255,255,255, 0.5);
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

.herder-logo img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* === CARDS === */
.title{
    margin: 30px;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px;
    text-align: center;
    height: 700px;
    
}


.cards a{
    color: inherit;
}

.card{
    height: 80%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #55555f;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.card.roxo:hover{
    top: -10px;
    border: 2px solid #7676d8;

}
.card.verde:hover{
    top: -10px;
    border: 2px solid rgb(33, 236, 33);

}
.card.laranja:hover{
    top: -10px;
    border: 2px solid rgb(250, 151, 2);

}

.laranja p strong{
    color: rgb(250, 151, 2);
}
.verde p strong{
    color: rgb(33, 236, 33);
}
.roxo p strong{
    color: #7676d8;
}

.card p{
    margin-top: 30px;
    
}

.free{
    background-color: rgb(33, 236, 33);
}

.pago{
    background-color: red;
}

.card .mod{
    margin-top: 30px;
}
.card .price{
    margin-top: 30px;
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
   
}




/* ===MODAL=== */

.modal-overlay{
    background-color: var(--color-background-modal-overlay);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
}

.model{
    background-color: var(--color-white);
    margin: 5vh auto;
    width: 80%;
    height: 90%;
    position: relative; /* Relativo ao close-model, para utilização do absolute */
}

.model.maximizado{
    margin: 0;
    width: 100%;
    height: 100%;
}

.model .close-model{
    color: black;
    position: absolute;
    right: 15px;
    margin-top: 8px;
    cursor: pointer;

}
.model .max-model{
    color: black;
    position: absolute;
    right: 40px;
    margin-top: 10px;
    cursor: pointer;

}

.modal-overlay.active{
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

iframe{
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 15%;
    
}

iframe.maximizado{
    width: 100%;
    height: 93%;
    right: 0;
    top: 7%;
    
}

/* ===PAGE NOT-FOUND=== */

.englobador{
    height: 100vh;
    width: 100vw;
    background-color: #121214;
    display: grid;
    
    align-items: center;
    justify-items: center;

}
.englobador .conteiner{
 
   

   color: #a8a8b3;
   display:flex;
   justify-content: space-evenly;
   width:90%;
}

.img_constelation{

    align-items: center;
    width:45%;
    
}
.box_text{
    margin: auto 0;
    width:45%;
 
}

.box_text h1{
    color: #8257e5;
    font-size:6rem;
    
}

.box_text h2{
    color: #ffffff;
    font-size:2rem;
    padding-bottom: 3rem;
}

.box_text h4{
    color: #04d361;
    padding-bottom: 2rem;
}

.box_text p{
    color: #a8a8b3;
    max-width: 400px;
    margin-bottom: 30px;
}

.retorno{
    color: #ffffff;
    background-color: #8257e6;
    box-shadow: none;
    border-radius:5px;
    font-size:14px;
    line-height:26px;
    letter-spacing:normal;
    text-align: center;
    padding: 15px 48px;
    /* margin-top: 50px; */
    cursor: pointer;
    font-weight: bold;
    transition: all 800ms  ease-in-out;
    text-decoration: none;
}
.retorno:hover{
    background: rgba(130, 87, 230, 0.7);
   
    transition: all 800ms ease-in-out;
}








/*==============================================================
MEDIA QUERIES E BREAKPOINTS

==============================================================*/

/*===============================================================
 smartphones, portrait iPhone, portrait 480x320 phones (Android) 
 ===============================================================*/

@media (min-width:300px) and (max-width:768px) { 
    /*MENU*/
    .conteiner .header .menu{
        display: none;
    }
    .header{
        height: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .conteiner .header .logo{
        display: flex;
    }
    .menu-bar button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
       
    }
    .itens-menu{
        position: relative;
        top: 0;
        right: 0;
        margin-top: 18%;
        padding: 10% 0;
        margin-right: -30px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.671);
        transition: all ease .8s;
        z-index: 10;
    }
    
    .itens-menu .btn-close{
        color: black;
        font-size: 2.5em;
        float: right;
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
    }
    .itens-menu li{  
        width: 100%;
        padding: 0 20%;}
    .itens-menu li:hover{
        background-color: #ddd;
    }
    .itens-menu li a{ 
        width: 16%; 
        padding: 2%; 
        color: black; 
        margin: 0.3% 0.3%
    }
    .conteiner .header .logo {
        display: flex;
        align-items: center;
        background: url(../image/logo-rocketseat.png)center center/40px no-repeat;
        width: 40px;
        height: 40px;
        border-radius: 50%;
       
    }
    .conteiner .header a span{
        display: flex;
        margin-left: 50px;
    }

    /* CORPO */
    .corpo{
        
        background-position: 30vw top;
        background-size: 800px;
    }
    .corpo .logo-corpo{
        display: none;
    }
    .corpo .mensagem{
        
        width: 80%;
        margin-left: 10%;
    }
    
    
}

/* ============================================================
tablet, landscape iPad, lo-res laptops ands desktops 
================================================================*/ 
@media (min-width:801px) { 
    /*MENU*/
    .menu{
        display: block;
    }
    .conteiner .header .menu-bar{
        display: none;
    }
    .conteiner .header .itens-menu{
        display: none !important;
    }
    .conteiner .header .logo{
        display: none;
    }
    .corpo .logo-corpo{
        display: flex;
    }
}

/*==================================================================
 big landscape tablets, laptops, and desktops
 ================================================================== */
@media (min-width:1025px) {
    
  }

/*======================================================
 hi-res laptops and desktops 
 =======================================================*/
@media (min-width:1440px) { 
    header .menu a{
        
        font-size: 25px;
        
    }
    .corpo .mensagem .corpo-mensagem{
        font-size: 20px;
    }

    .corpo .corpo-mensagem p,li{
        font-size: 20px !important;
    }
 }